@import "tailwindcss";
@import "@fontsource/archivo-black";
@import "@fontsource/archivo";


@font-face {
    font-family: 'Blackout';
    src: url('/fonts/blackout_sunrise-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-forest-green: #264653;
    --color-teal-dark: #275c62;
    --color-teal-dark-500: #B4C9CB;
    --color-teal-medium: #287271;
    --color-teal-bright: #2a9d8f;
    --color-sage-green: #8ab17d;
    --color-golden-yellow: #e9c46a;
    --color-amber: #efb366;
    --color-orange-light: #f4a261;
    --color-coral: #ee8959;
    --color-red-orange: #e76f51;
    --font-ArchivoBlack: "Archivo Black", ui-sans-serif, system-ui, sans-serif;
    --font-Archivo: "Archivo", ui-sans-serif, system-ui, sans-serif;
    --font-Blackout: "Blackout", ui-sans-serif, system-ui, sans-serif;
}

:root:has(.no-scroll) {
  overflow: hidden;
}

html {
    height: 100%;
}