---
import Image from "astro/components/Image.astro";
import stamp from "../content/images/d101.jpg";
---

<footer class="w-full bg-black pt-6 pb-10 @container">
  <div
    class="container mx-auto text-[#e76f51] bg-clip-text px-4 flex flex-col gap-4 @[1000px]:flex-row justify-between @[1000px]:items-center"
  >
    This is where people usually put links to their socials, but they've all
    become the Torment Nexus now so I do not partake.
    <Image
      src={stamp}
      alt="Badge containing the slogan 'I don't have a Myspace and I'm alive"
    />
  </div>
</footer>
